body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

#demo {
    text-align: center;
    width: 800px; 
    margin: 5em auto;
    padding: 5px;
    background-color: #fff;
}

#header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 15px;
    background-color: #DAF7A6;
}

input {
	text-align: center;
	border-top: none;
	border-right: none;
	border-left: none;
	border-width: 1px;
	border-color: #565554;
	height:60;
	font-size:14pt;
}

button {
	border-radius: 15px;
}

:focus {
    outline: 0;
}